# Use production mode by default
# The heroku-postbuild script will handle installing devDependencies
production=false
# Increase network timeout for slower connections
network-timeout=60000
# Set legacy peer deps to avoid issues with newer npm versions
legacy-peer-deps=true 